<footer class="footer">
  <small>
    SubletInn
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.subletinn.com/">SubletInn Website</a></li>
    </ul>
  </nav>
</footer>
